.form-main {
  height: 100vh;
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
}
.form-container {
  border: 1px solid lightgray;
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #696969;
  position: relative;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 25px;
  background-color: #696969;
  width: 70%;
}
input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 35px;
}

.close{
    border: 1px solid gray;
    position: absolute;
    top:0;
    right: 0;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  font-size: 25px;
}

.btn{
    background-color: lightseagreen;
    color:lavenderblush;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
}
